<h1>Appointments</h1> 
<div>
    <% @appointments.each do |appt| %>
        <p><%= appt.display %> <%= link_to 'Cancel', appt, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui-button ui-widget ui-corner-all' %> </p>
    <% end %>
</div>
<%= button_to "Admin Export", { :controller => "appointments", :action => "export"}, class: 'ui-button ui-widget ui-corner-all' %>

<h2>Create a new appointment</h2>
<%= form_for @appointment, :url => { :action => "create" } do |f| %>
<p>User: <%= f.select "user_id", options_from_collection_for_select(@users, "id", "name") %> </p> 
<p>Appointment Time: <%= f.text_field "time", class: "datetimepicker" %></p>
<%= f.submit "Book", class: 'ui-button ui-widget ui-corner-all' %>
<% end %>
